*
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body
{
    margin: 0px;
}

#scene
{
    display: block;
}

#GUIContainer
{
    z-index: 10;
    position: absolute;
    width: 325px;
    top: 0px;
    left: 0px;
    border: 2px solid darkred;
}

#GUIContainer tr td
{
    width: 50%;
}

.GUIElement
{
    display: inline-block;
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.GUIText
{
    color: black;
}

.GUISliderText
{
    color: rgb(82, 80, 110);
}

.GUIButton
{
    opacity: 0.75;
    color: black;
    text-shadow: 1px 1px 2px pink;
}

.GUIButton:hover
{
    font-size: 30px;
}

.GUIButton:active
{
    opacity: 1.0;
}